{
    "extends": "eslint-config-egg",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "array-bracket-spacing": "off",
        "no-new": "off",
        "no-shadow": "off",
        "no-bitwise": "off",
        "func-names": "off",
        "no-return-assign": "off",
        "no-console": "off",
        "no-plusplus": "off",
        "default-case": "off",
        "radix": "off",
        "prefer-template": "off",
        "consistent-return": "off",
        "no-param-reassign": "off",
        "no-nested-ternary": "off",
        "no-use-before-define": "off",
        "no-underscore-dangle": "off",
        "no-unused-expressions": "off",
        "no-restricted-globals": "off",
        "no-restricted-syntax": "off",
        "no-parsing-error": "off",
        "class-methods-use-this": "off",
        "no-lonely-if": "off",
        "no-template-curly-in-string": "off",
        "no-debugger": "off",
        "eqeqeq": "off",
        "one-var": "off",
        "no-unused-vars": "off",
        "no-multi-assign": "off",
        "no-useless-constructor": "off",
        "no-cond-assign": "off",
        "no-new-func": "off",
        "no-const-assign": "off",
        "object-curly-spacing": "off",
        "prefer-destructuring": "off",
        "import/order": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-cycle": "off",
        "jsdoc/check-param-names": "off",
        "jsdoc/require-returns-type": "off",
        "jsdoc/require-param-description": "off"
    }
}
